* {
	margin: 0;
	padding: 0;
}

.container {
    padding-bottom: 20px;
}

.control-label {
    display: inline-block;
}

.tickets-typeadead {
	list-style: none;
	border: 1px solid black;
    padding: 4px;
}
.tickets-typeadead a {
    display: block;
    padding: 4px;
}

/* Knockout Validation styles */
input[type="checkbox"] + span {
    display: none;
}