* {
	margin: 0;
	padding: 0;
}

.container {
    padding-bottom: 20px;
}

.form .control-label {
    display: none;
}
.form .has-error .control-label {
    display: inline-block;
    padding-left: 10px;
}

.tickets-typeadead {
	list-style: none;
	border: 1px solid black;
    padding: 4px;
}
.tickets-typeadead a {
    display: block;
    padding: 4px;
}